.logo{
    width: 50px;
    height: 50px;
}

.fondo{
    background-color: #EDECD9;
}

.boton {
    background-color: #F6A500;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

.group{
    width: 65%;
    margin: 20px auto 50px auto ;
}


.container-botones{
    text-align: center;
}

.fw-bold{
    margin-top: 90px;
}

.form-control{
    width: 85%;
    height: 30%;
    margin-left: 50px;
}

.btn{
    background-color: #F6A500;
    width: 70%;
    height: 40%;
}

.navbar-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body{
    padding-top: 90px; /* espacio para que no se oculte el contenido */
  }